.slider-container {
    width: 100%;
    max-width: 1500px;
    margin: 0px auto;
    position: relative;
}

.slider-container img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets {
    width: auto;
    left: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.5);
}

.swiper-pagination-bullet {
    opacity: 0.35;
    background-color: var(--yellow);
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 15px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 18px;
    font-weight: bold;
}