header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    display: flex;
    align-items: center;
    transition: top 0.5s;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: var(--header);
}

.show {
    top: 0;
}

.dontShow {
    top: calc(var(--header-height) * -1);
}

nav {
    width: 100%;
    max-width: 1500px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo a img {
    width: 50px;
}

#logo a {
    text-decoration: none;
}

#logo a span {
    margin-left: 10px;
    font-size: 1.4rem;
    color: white;
}

.internal_links > li {
    display: inline-block;
}

.internal_links li > a {
    font-size: 1.05rem;
    padding: 5px;
    text-decoration: none;
    color: white;
    transition: .2s
}

.internal_links > li > a:hover {
    color: var(--red-hover);
}

.internal_links li:not(:first-child) {
    margin-left: 1.5rem;
}

#external_links{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#external_links img {
    width: 30px;
}

#external_links a:not(:first-child) {
    margin-left: 20px;
}

#external_links a {
    transition: .2s;
}

#external_links a:hover {
    transform: scale(1.2)
}

#hamburger{
    display: none;
}

/* Media Section */
@media (prefers-color-scheme: light) {
    header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #logo a span {
        color: black;
    }

    .internal_links li > a {
        color: black;
    }
}

@media (max-width: 768px) {
    #logo {
        margin-left: 25px;
    }

    #external_links {
        margin-right: 25px;
    }
}

@media (max-width: 600px){
    #logo {
        margin-left: 15px;
    }

    .internal_links {
        top: 100%;  
        right: 0;
        position: absolute;
        display: flex;
        flex-flow: column wrap;
        transition: 0.3s ease-out;
        transform: translateX(100%);
        background-color: rgba(0, 16, 29, 0.9);
    }

    .internal_links li {
        margin: 0 !important;
        padding-block: 7px;
    }

    .internal_links li:first-child {
        border-top: none;
    }

    .internal_links li a {
        display: block;
        text-align: center;
        padding: 0.5rem 1rem;
        width: 20vw;
        min-width: 120px;
    }

    .show {
        transform: translateX(0);
    }

    .wraperHeader {
        display: flex;
        gap: 15px;
    }

    #external_links {
        margin-right: 15px;
    }

    #external_links a:not(:first-child) {
        margin-left: 10px;
    }

    #hamburger {
        display: block;
        margin-right: 15px;
        height: 100%;
        width: 35px;
        cursor: pointer;
    }

    .hamburgerLine {
        background-color: white;
        height: 3px;
        width: 100%;
        margin-bottom: 8px;
        transition: 0.3s, opacity 0.15s;
    }

    .hamburgerLine:last-of-type {
        margin-bottom: 0;
    }

    .activate:first-child {
        transform: translate(0, 11px) rotate(45deg);
    }

    .activate:last-child {
        transform: translate(0, -11px) rotate(-45deg);
    }

    .activate:nth-child(2) {
        opacity: 0;
    }
}