:root {
    --gradient: 175px;
}

.marquee-logos {
    background-color: var(--header);
}

.marquee-logos img {
    width: 135px;
    padding: 20px 15px;    
}

/* Media Section */
@media (prefers-color-scheme: light) {
    .marquee-logos {
        background-color: rgba(0, 0, 0, 0.015);
    }
}

@media (max-width: 768px) {
    :root {
        --gradient: 75px;
    }

    .marquee-logos img {
        width: 100px;
    }
}