.head {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: var(--specialFontBold);
}

.head button {
    margin-left: 20px;
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 0.25rem;
    transition: 0.1s ease-in-out;
    background-color: var(--bg);
}

.button-blue-hover:hover {
    background-color: var(--darkBlue-hover) !important;
}

.button-red-hover:hover {
    background-color: var(--darkRed-hover) !important;
}

.publications {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.card {
    padding: 1rem 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-sizing: border-box;
    min-width: 320px;
    border: 1px solid white;
    border-radius: 10px;
    transition: max-height 10s ease-out;
    background-color: rgb(0, 23, 39);
}

.card h2 {
    display: -webkit-box;
    margin-bottom: 0.5rem;
    font-family: var(--specialFontBold);
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.25;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card h3 {
    width: 100%;
    margin-bottom: 0.25rem;
    line-height: 1.25;
    font-size: 0.95rem;
    opacity: 0.75;
}

.card h3:first-of-type {
    display: -webkit-box;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card > span {
    max-height: 6em;
    margin-block: 0.5rem 1rem;
    display: -webkit-box;
    line-clamp: 4; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 1.5;
    text-align: justify;
    text-indent: 1.5rem;
    font-size: 1rem;
    font-family: var(--contentFontBold);
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.no-clamp {
    line-clamp: unset !important;
    -webkit-line-clamp: unset !important;
}

.open-news {
    line-clamp: unset !important;
    -webkit-line-clamp: unset !important;
}

.card-tag {
    width: auto;
    padding: 0.25rem 0.5rem;
    text-indent: 0; 
    cursor: default;
    font-weight: bold;
    border-radius: 6px;
    color: var(--bg);
    background-color: rgb(231, 231, 231);
}

.card .button-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.button-holder button span {
    text-indent: 0;
    padding: 0.5rem;
    border-radius: 30px;
    color: black;
    background-color: rgb(255, 255, 255);
}

.button-holder button {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 6px;
    background-color: var(--bg);
}

.button-holder button:hover {
    background-color: var(--yellow);
}

/* Media Section */
@media (max-width: 768px) {
    .card {
        padding: 1rem 2rem;
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card h3 {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .head button {
        font-size: 0.7rem;
    }
    
    .card span {
        font-size: 0.85rem;
    }
}

@media (prefers-color-scheme: light) {    
    .card,
    .card-tag,
    .head button,
    .button-holder button {
        color: var(--main);
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: var(--header);
    }

    .card {
        background-color: var(--header);
    }
}