#head{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#head h1{
    font-size: 2.5em;
    font-weight: bold;
}

#head button{
    /* height: 70px; */
    margin-left: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--button);
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#head button:hover{
    background-color: var(--yellow);
}

.news{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: space-around;
}

.card{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  width: 32%;
  min-width: 320px;
  padding: 1rem 2rem;
  background-color: var(--blue);
  border: 1px solid white;
  border-radius: 10px;
  transition: max-height 10s ease-out;
}

.cardRead{
    background-color: rgb(18, 37, 49) !important;
}

.cardExpand{
    width: 100% !important;
}

.card h2{
    font-size: 1.05rem;
    text-align: left;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    overflow: hidden;
    line-height: 1.25;
    
}

.Noclamp{
    -webkit-line-clamp: none !important;
    line-clamp: none !important;
}

.card h3{
    width: 100%;
    font-size: 0.9rem;
    color: rgb(142, 142, 142);
    margin-bottom: 0.25rem;
}

.card h3:first-of-type{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    overflow: hidden;
}

.card > span{
    text-align: justify;
    text-indent: 1.5rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4; 
    overflow: hidden;
    transition: 1.2s ease-out;
    margin-block: 0.5rem 1rem;
}

.openNews{
    max-height: 100% !important;
    line-clamp: none !important;
    -webkit-line-clamp: none !important;
}

.yearTag{
    background-color: white;
    color: var(--bg);
    font-weight: 500;
    text-indent: 0; 
    width: auto;
    border-radius: 6px;
    padding: 0.25rem 0.5rem;

}

.card .buttonHolder{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.buttonHolder button span{
    text-indent: 0;
    padding: 0.5rem;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.buttonHolder button{
    display: inline-block;
    background-color: var(--bg);
    border: 1px solid white;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
}

.buttonHolder button:hover{
    background-color: var(--yellow);
}

/* Media Section */
@media (prefers-color-scheme: light) {
    #head button {
        background-color: var(--button);
    }
    
    .card {
        background-color: var(--blue);
    }
}

@media (max-width: 1260px){
  #head{
    justify-content: space-between;
  }

  .card{
    width: 49%;
    padding: 1rem 2rem;
}


  .card > span{
    text-indent: 1.5rem;
  }
}

@media (max-width: 850px){
  .card{
    width: 100%;
  }

}
