/* Root Section */
:root{
    overflow-x: hidden;
    color-scheme: light dark;
    color: var(--main);
    background-color: var(--bg);

    /* Spacing */
    --header-height: 60px;

    /* Colors */
    --bg: rgb(5, 12, 17);
    --main: rgba(255, 255, 255, 0.87);

    --header: rgba(0, 24, 43, 0.9);
    --footer: rgb(0, 0, 0);;
    --button: rgb(24, 24, 24);

    --blue: rgb(29, 61, 83);
    --darkBlue-hover: rgb(47, 93, 124);
    --yellow: rgb(196, 173, 73);
    --red-hover: rgb(255, 153, 153);
    --darkRed-hover: rgb(129, 59, 59);

    --specialFont: "Outfit";
    --specialFontBold: "Outfit Bold";
    --contentFont: "Karla";
    --contentFontBold: "Karla Bold";
}

/* Fonts Section */
@font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/Outfit/Outfit-Regular.ttf");
}

@font-face {
    font-family: "Outfit Bold";
    src: url("../assets/fonts/Outfit/Outfit-Bold.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("../assets/fonts/Karla/Karla-Regular.ttf");
}

@font-face {
    font-family: "Karla Bold";
    src: url("../assets/fonts/Karla/Karla-SemiBold.ttf");
}

@font-face {
    font-family: "Titillium";
    src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/Work_Sans/WorkSans-Regular.ttf");
}

/* .work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
} */

/* General Section */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--specialFont);
}

h1 {
    margin-bottom: 15px;
    text-align: center !important;
}

body {
    padding-top: calc(var(--header-height) + 20px);
    overflow-x: hidden;
}

main {
    width: clamp(300px, 90vw, 1000px);
    min-height: 75vh;
    margin-inline: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    min-height: 75vh;
}

.container {
    width: clamp(300px, 90vw, 1000px);
    margin-inline: auto;
}

/* Media Section */
@media (prefers-color-scheme: light) {
    :root {
        color: var(--main);
        background-color: var(--bg);

        /* Colors */
        --bg: rgb(255, 255, 255);
        --main: rgb(33, 53, 71);

        --header: rgb(217, 217, 217);
        --footer: rgb(217, 217, 217);
        --button: rgb(220, 220, 220);

        --blue: rgb(215, 225, 255);
        --yellow: rgb(196, 173, 73);
        --red-hover: rgb(255, 100, 100);
    }

    /* Logos */
    .nautec-logo { content: url("../assets/logos/logo_nautec-light.png"); }
    .itec-logo { content: url("../../assets/logos/logo_itec-light.png"); }
}