/* Universal Section */

:root{
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--bg-root);

    /* Spacing */
    --header_footer_spacing: 50px;

    /* Colors */
    --bg-root: rgb(36, 36, 36);
    --bg-root-light: rgb(255, 255, 255);
    --color-root-light: rgb(33, 53, 71);

    --header: rgb(44, 44, 44);
    --footer: rgb(0, 0, 0);
    --button: rgb(24, 24, 24);
    --button-light: rgb(249, 249, 249);

    --light-blue: rgb(0, 123, 255);
    --dark-blue: rgb(29, 61, 83);
    --yellow: rgb(196, 173, 73);
    --red-hover: rgb(255, 153, 153);
}

*{
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
}

.container{
  margin-inline: auto;
  width: 100%;
  max-width: 1500px;
}

/* Header Section */

header{
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--header);
    opacity: 0.9;
    margin-bottom: var(--header_footer_spacing);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

#logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo a img{
    width: 50px;
}

#logo a{
    text-decoration: none;
}

#logo a span{
    font-size: 1.4rem;
    color: white;
    margin-left: 10px;
}

#internal_links > li{
    display: inline-block;
}

#internal_links li > a{
    padding: 5px;
    text-decoration: none;
    color: white;
    transition: .2s
}

#internal_links > li > a:hover{
    color: var(--red-hover);
}

#internal_links li:not(:first-child){
    margin-left: 1.5rem;
}

#external_links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#external_links img{
    width: 30px;
}

#external_links a:not(:first-child){
  margin-left: 20px;
}

#external_links a{
  transition: .2s;
}

#external_links a:hover{
  transform: scale(1.2)
}

/* Main Section */

main {
  max-width: 1200px;
  margin: 0px auto;
  padding: 25px;
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  min-height: calc(75vh - var(--header_footer_spacing) - 60px);
}

/* Footer Section */

footer{
  padding: 50px;
  min-height: 100px;
  background-color: var(--footer);
}

/* Media Section */

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-root-light);
    background-color: var(--bg-root-light);
  }
  a:hover {
    color: var(--light-blue);
  }
  button {
    background-color: var(--button-light);
  }
}

@media (max-width: 930px){
  #logo{
    margin-left: 15px;
  }

  #internal_links{
    /* display: none; */
    position: absolute;
    right: 0;
    top: 100%;  
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(44, 44, 44);
  }

  #internal_links li{
    margin: 0 !important;
  }

  #internal_links li a{
    display: block;
    text-align: center;
    /* width: 100%; */
    padding: 0.5rem 1rem;
    width: 30vw;
  }

  #external_links{
    margin-right: 15px;
}
}